
/* this affects the about page only */
#landingPage{
    background-image: url(https://i.ytimg.com/vi/brD2aR7Dr0s/maxresdefault.jpg);
    background-size: 100%;
}

.main-content, main{
    font-family: 'Noto Sans JP', sans-serif;
    padding-top: 5rem !important;
    background-image: url('https://img.freepik.com/free-photo/shopping-cart-chalkboard_165073-68.jpg?size=626&ext=jpg');
    background-size: 100%;
    height: 100%;
}

.no-pad-bottom{
    padding-bottom: 0px !important;
}

.no-pad-top{
    padding-top: 0px !important;
}

.hide{
    display: none !important;
}

.upload{
    margin-left: 0px !important;
}

.nav-bar-menu{
    justify-content: flex-end;
}

.toggle-store-online{
    background: #f9fafb !important;
}

.padding-top{
    padding-top: 2rem !important;
}

.prod-image {
    max-width: 50%;
    max-height: 50%;
    margin: auto;
}

.product-image{
    max-height: 120px;
}

.product-price {
    margin: 0;
}

.prod-text {
    text-align: center;
}

.prod-text {
    text-align: center;
}

.object-btn{
    max-width: 100%;
    text-align: center;
    margin: 0px !important;
}

.obj-button{
    padding: 0px !important;
}

.display-cards{
    height: 100%;
}

textarea{
    border-color: lightblue !important;
}

@media screen and (max-width: 767px) {
    .vertical{
        visibility: hidden !important;
    }
    .horizontal-div{
        display: table !important;
    }
    .upload{
        margin-left: auto !important;
    }
    .display-div{
        width: 100% !important;
    }
    
}

@media screen and (min-width: 768px) {
    .vertical{
        visibility: visible !important;
    }
    .horizontal-div{
        display: none !important;
    }
}


.clicked-btn {
    background-color: lightblue !important;
    color: gray !important;
}

/* google api styling */
#map {
  height: 45rem; /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }

.display-map{
    display: none !important;
    height: 45rem;
}

.result-content{
    display: none !important;
}

.stackable-grid{
    text-align: center !important;
    background-color: initial !important;
}

.result-content-rows{
    overflow: scroll;
    height: 100%;
}

#item-buttons{
    position: sticky;
    top: 0rem;
}

.instore-online-toggle{
    background-color: lightblue;
}

.submit-button , .display-cards {
    transition: transform .2s; 
}
  
.submit-button:hover , .display-cards:hover{
    transform: scale(1.1);
}

blockquote {
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }