
/* this affects the about page only */
#landingPage{
    background-image: url("assets/images/bg1.jpg");
    /* opacity:0.8; */
}

#aboutUs {
    top: 25%;
    font-size: x-large;
}

main{
    margin-top: 1rem !important;
}

.hide{
    display: none !important;
}

.upload{
    margin-left: 0px !important;
}

.nav-bar-menu{
    margin-right: 1em !important;
}

.toggle-store-online{
    background: #f9fafb !important;
}

.padding-top{
    padding-top: 2rem !important;
}

@media screen and (max-width: 767px) {
    .vertical{
        visibility: hidden !important;
    }
    .horizontal-div{
        display: table !important;
    }
    .upload{
        margin-left: auto !important;
    }
    
}

@media screen and (min-width: 768px) {
    .vertical{
        visibility: visible !important;
    }
    .horizontal-div{
        display: none !important;
    }
}


/* google api styling */
#map {
  height: 800px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }